// USER STYLES

.square {
	float:left;
    position: relative;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
	position:absolute;
    height:90%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5% 5%;
    background-color: purple;
    color: white;
}

h3 {
	font-size: 30px;
}